var noValue = $('#transaction_subcategory_id').html();

<% if @subcategories.count != 0 %>
  $('#transaction_subcategory_id').html('');

  var option;
  option = '<option value></option>'
  $('#transaction_subcategory_id').append(option);

  <% @subcategories.each do |c| %>
    option = '<option value="' + '<%= c.id.to_s %>' + '">' + '<%= c.name %>' + '</option>'
    $('#transaction_subcategory_id').append(option);
  <% end %>

<% else %>

  $('#transaction_subcategory_id').html(noValue);

<% end %>
